<!DOCTYPE html>
<html>
<head>
<title>All screen</title>
</head>

<body>
  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/reset-password">Reset password</a></li>
    <li><a href="/confirm-password">Confirm password</a></li>
    <li><a href="/price-list">Price list</a></li>
    <li><a href="/login-success">Redirect Dashboard</a></li>
    <li><a href="/admin">Administrator dashboard</a></li>
    <li><a href="/staff">Staff dashboard</a></li>
    <li><a href="/user">User dashboard</a></li>
  </ul>
</body>
</html>