<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Register</title>
  <th:block th:include="fragments/general.html :: header"></th:block>
</head>

<body ng-app="brosApplication" ng-controller="registerController" class="w3-content">
  <form ng-submit="registerUser()">
    <div class="w3-card-4 w3-light-grey w3-text-blue w3-section">
      <header class="w3-container">
        <h1 class="w3-center">Register new user</h1>
      </header>

      <!-- GLOBAL ERROR -->
      <th:block th:include="fragments/general.html :: brsError" 
        th:with="field = 'global', appendClasses = 'w3-margin'"/>

      <div class="w3-container w3-margin-top">
        <div class="w3-third w3-padding-right">
          <th:block th:include="fragments/general.html :: brsInput" 
            th:with="field = 'firstName', label = 'First name', required = true" />
        </div>
        <div class="w3-third w3-padding-right w3-padding-left">
          <th:block th:include="fragments/general.html :: brsInput" 
            th:with="field = 'middleName', label = 'Middle name', required = false" />
        </div>
        <div class="w3-third w3-padding-left">
          <th:block th:include="fragments/general.html :: brsInput" 
            th:with="field = 'lastName', label = 'Last name', required = true" />
        </div>
      </div>

      <div class="w3-container w3-margin-top">
        <div class="w3-half w3-padding-right">
          <th:block th:include="fragments/general.html :: brsInput" 
            th:with="field = 'phoneNumber', label = 'Phone number', required = true" />
        </div>
        <div class="w3-half w3-padding-left">
          <th:block th:include="fragments/general.html :: brsInput" 
            th:with="field = 'zaloNumber', label = 'Zalo number'" />
        </div>
      </div>

      <div class="w3-container w3-margin-top">
        <th:block th:include="fragments/general.html :: brsInput"
          th:with="field = 'email', label = 'Email address', required = true" />
      </div>

      <div class="w3-container w3-margin-top">
        <div class="w3-half w3-padding-right">
          <th:block th:include="fragments/general.html :: brsInput"
            th:with="type = 'password', field = 'password', label = 'Password', required = true" />
        </div>
        <div class="w3-half w3-padding-left">
          <th:block th:include="fragments/general.html :: brsInput"
            th:with="type = 'password', field = 'registerConfirmPassword', label = 'Confirm password', required = true" />
        </div>
      </div>

      <div class="w3-container w3-margin-top">
        <div class="w3-half w3-padding-right">
          <button class="w3-button w3-block w3-blue" type="submit">Register</button>
        </div>
        <div class="w3-half w3-padding-left">
          <a href="/home" class="w3-button w3-block w3-red">Cancel</a>
        </div>
      </div>

      <footer class="w3-container">
        <h5></h5>
      </footer>
    </div>
  </form>

  <th:block th:include="fragments/general.html :: loader"></th:block>
  <script th:src="@{/js/register.js?process=true}"></script>
</body>
</html>