<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Register</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="data:,">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <style type="text/css">
  .w3-padding-right { padding-right: 4px; }
  .w3-padding-left { padding-left: 4px; }
  </style>
  <style>
  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0%   { -webkit-transform: rotate(0deg);   }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0%   { transform: rotate(0deg);   }
    100% { transform: rotate(360deg); }
  }
  </style>
</head>

<body ng-app="brosApplication" ng-controller="registerController" class="w3-content">
  <form ng-submit="registerUser()">
    <div class="w3-card-4 w3-light-grey w3-text-blue w3-section">
      <header class="w3-container">
        <h1 class="w3-center">Register new user</h1>
      </header>

      <div class="w3-container">
        <div class="w3-third w3-padding-right">
          <label for="firstName"><b>First name</b></label>
          <input ng-model="userForm.firstName"
            class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter First name"
            id="firstName" required>
        </div>
        <div class="w3-third w3-padding-right w3-padding-left">
          <label for="middleName"><b>Middle name</b></label>
          <input ng-model="userForm.middleName"
            class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Middle name"
            id="middleName">
        </div>
        <div class="w3-third w3-padding-left">
          <label for="lastName"><b>Last name</b></label>
          <input ng-model="userForm.lastName"
            class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Last name" name="lastName"
            id="lastName" required>
        </div>
      </div>

      <div class="w3-container">
        <div class="w3-half w3-padding-right">
          <label for="phoneNumber"><b>Phone number</b></label>
          <input ng-model="userForm.phoneNumber"
            class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Phone number"
            id="phoneNumber">
        </div>
        <div class="w3-half w3-padding-left">
          <label for="zaloNumber"><b>Zalo number</b></label>
          <input ng-model="userForm.zaloNumber"
            class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Zalo number" 
            id="zaloNumber">
        </div>
      </div>

      <div class="w3-container">
        <label for="email"><b>Email address</b></label>
        <input ng-model="userForm.email"
          class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Email address"
          id="email" required>
      </div>

      <div class="w3-container">
        <div class="w3-half w3-padding-right">
          <label for="password"><b>Password</b></label>
          <input ng-model="userForm.password"
            class="w3-input w3-border w3-margin-bottom" type="password" placeholder="Enter Password"
            id="password" required>
        </div>
        <div class="w3-half w3-padding-left">
          <label for="registerConfirmPassword"><b>Confirm password</b></label>
          <input ng-model="userForm.registerConfirmPassword"
            class="w3-input w3-border w3-margin-bottom" type="password" placeholder="Enter Confirming Password"
            id="registerConfirmPassword" required>
        </div>
      </div>

      <div class="w3-container">
        <div class="w3-half w3-padding-right">
          <button class="w3-button w3-block w3-blue" type="submit">Register</button>
        </div>
        <div class="w3-half w3-padding-left">
          <a href="/home" class="w3-button w3-block w3-red">Cancel</a>
        </div>
      </div>

      <footer class="w3-container">
        <h5></h5>
      </footer>
    </div>
  </form>
  <div ng-show="loading" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: whitesmoke; opacity: 0.5;" >
    <div class="loader" style="margin:auto; left:0; right:0; top:0; bottom:0; position:fixed;"></div>
  </div>
  <script th:src="@{/js/register.js}"></script>
</body>
</html>