<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>User panel</title>
  <th:block th:include="fragments/general.html :: header"></th:block>
</head>
<body ng-app="brosApplication">
  <!-- TOP MENU -->
  <th:block th:include="fragments/general.html :: dashboard-top-menu"></th:block>

  <!-- LEFT SIDE -->
  <div class="w3-sidebar w3-bar-block w3-border w3-card" style="width:200px;">
    <a href="#!dashboard" class="w3-bar-item w3-button w3-border-bottom">Dashboard</a>
    <a href="#!receive"   class="w3-bar-item w3-button w3-border-bottom">Nhập hàng</a>
    <a href="#!storage"   class="w3-bar-item w3-button w3-border-bottom">Lưu kho</a>
    <a href="#!order"     class="w3-bar-item w3-button w3-border-bottom">Đặt hàng</a>
    <a href="#!receipt"   class="w3-bar-item w3-button w3-border-bottom">Hóa đơn</a>
    <a href="#!staff"     class="w3-bar-item w3-button w3-border-bottom">Nhân viên</a>
    <a href="#!user-information" class="w3-bar-item w3-button">Thông tin cá nhân</a>
  </div>

  <!-- RIGHT SIDE -->
  <div style="margin-left:200px">
    <span ng-view></span>
  </div>

  <th:block th:include="fragments/general.html :: loader"></th:block>
  <script src= "/js/user-panel.js?process=true"></script>
</body>
</html>