<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<style>
#dataType {width: auto; display: inline-block; margin-left: 5px;}
</style>

<form ng-submit="formSubmit()" th:with="brsTable = 'BROS_RECEIVING_ORDER', brsClass = 'brs-small'">
  <div class="w3-container w3-row w3-teal">
    <div class="w3-twothird">
      <h5 class="bros-inline">Receiving Order - New</h5>
      <th:block th:include="fragments/column.html :: brsInput" th:with="brsColumn = 'DATA_TYPE'" />
    </div>
    <div class="w3-third w3-right-align">
      <a class="w3-button w3-round bros-small-button" href="#!receive"><i class="fa fa-arrow-circle-left"></i> Back</a>
      <button type="reset" class="w3-button w3-round bros-small-button"><i class="fa fa-refresh"></i> Reset</button>
      <button type="submit" class="w3-button w3-round bros-small-button"><i class="fa fa-floppy-o"></i> Save</button>
    </div>
  </div>

  <!-- w3-striped  -->
  <div style="padding: 10px">
  <table class="w3-table w3-hoverable w3-small">
    <colgroup>
      <col width="200px">
      <col width="*">
      <col width="200px">
      <col width="*">
    </colgroup>
  
    <tr>
      <th:block th:include="fragments/column.html :: brsTableInput" th:with="brsColumn = 'BOX_ID'" />
      <th:block th:include="fragments/column.html :: brsTableInput" th:with="brsColumn = 'NUMBER_OF_BOX'" />
    </tr>
  
    <tr>
      <th:block th:include="fragments/column.html :: brsTableInput" th:with="brsColumn = 'PRODUCT_DESCRIPTION', colspan = 3" />
    </tr>
  
    <tr>
      <th:block th:include="fragments/column.html :: brsTableInput" th:with="brsColumn = 'SKU'" />
      <th:block th:include="fragments/column.html :: brsTableInput" th:with="brsColumn = 'QUANTITY'" />
    </tr>
  
    <tr>
      <th:block th:include="fragments/column.html :: brsTableInput" th:with="brsColumn = 'WEIGHT_PER_ITEM'" />
      <th:block th:include="fragments/column.html :: brsTableInput" th:with="brsColumn = 'WEIGHT_UNIT'" />
    </tr>
  
    <tr>
      <th:block th:include="fragments/column.html :: brsTableInput" th:with="brsColumn = 'INCH_LENGTH'" />
      <th:block th:include="fragments/column.html :: brsTableInput" th:with="brsColumn = 'INCH_WIDTH'" />
    </tr>
    
    <tr>
      <th:block th:include="fragments/column.html :: brsTableInput" th:with="brsColumn = 'INCH_HEIGHT'" />
      <th:block th:include="fragments/column.html :: brsTableInput" th:with="brsColumn = 'SHIPPING_DATE'" />
    </tr>
  
    <tr>
      <th:block th:include="fragments/column.html :: brsTableInput" th:with="brsColumn = 'TRACKING_NUMBER'" />
      <th:block th:include="fragments/column.html :: brsTableInput" th:with="brsColumn = 'WAREHOUSE_ID'" />
    </tr>
  
    <tr>
      <th:block th:include="fragments/column.html :: brsTableInput" th:with="brsColumn = 'NEW_SKU'" />
      <th:block th:include="fragments/column.html :: brsTableInput" th:with="brsColumn = 'IS_FRAGILE_GOOD'" />
    </tr>
  
    <tr>
      <th:block th:include="fragments/column.html :: brsTableInput" th:with="brsColumn = 'BUYER_INFORMATION'" />
      <th:block th:include="fragments/column.html :: brsTableInput" th:with="brsColumn = 'BUYER_ADDRESS'" />
    </tr>
  </table>
  </div>
</form>
</html>