.w3-padding-bottom { padding-bottom: 4px; }
.w3-padding-top { padding-top: 4px; }
.w3-padding-right { padding-right: 4px; }
.w3-padding-left { padding-left: 4px; }
.w3-margin-small { margin: 6px; }
.w3-size-small { width: 16px; height: 16px; top: 3px;}
.bros-small {}
.fa:hover { color:black !important; }
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0%   { -webkit-transform: rotate(0deg);   }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0%   { transform: rotate(0deg);   }
  100% { transform: rotate(360deg); }
}